body {
  background-color: #DBF9FC;
  }

  .jumbotron {
    background-image: url("../images/Picture1.png");
    background-size: 39% 100%;
    text-align: center;
  }

  h3 {

    font-family: inherit; 
    font-size: 20rem;
}